 /* Reset some default styles */
* {
    box-sizing: border-box;
  }

body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    font-family: Arial;
    color: white;
    background-color: black;
}
p {

    color: white;
    text-align:justify;
}
h5 {
    color: #051e78;
    font-size: 16;
}
#mainbody {
    padding-left: 5%;
    padding-right: 5%;
}
#headerLogo {
    align-items: left;
    display: inline;

    
}
@media screen and (max-width:600px) {
    .column {
    float: left;
    width: 50%;
    padding: 15px;
    max-width: 50%;
     justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
}
.column img{
    width: 100%;
    height: 300px;
    padding-left: 30%;
}
  }
.row::after {
    content: "";
    display: table;
    clear: both;
  }
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
#logo {
    width: 100px;
    height: 100px;

}


.column {
    float: left;
    width: 50%;
    padding: 15px;
    max-width: 50%;
     justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
}
.column img{
    width: 100%;
    height: 300px;
    padding-left: 30%;
}
#headerSocials {
    display: inline;
    align-items: right;
    list-style-type: none;
}
/* Style header and navigation */
header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    /*background-color: #051e78; */
    border-bottom: 5px, solid, white;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 70;
}


nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li:hover{
    text-decoration:underline;

}

nav a {
    text-decoration: none;
    color: white;
}

/* Add more CSS styles to customize your website */

#right-content{
    padding: 20px;
}

#left-content{
    padding: 20px;
}
